@* Used for testing:
    <h1>@Model.PageInfo.TotalPages</h1>
*@
@*@page "/CrashList"*@

@model CrashesViewModel
@*@model intexnew.Models.ViewModels.CrashesViewModel*@
@*@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager*@


@{ ViewData["Title"] = "Admin Crash List";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
                var prevDisabled = !Model.PageInfo.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.PageInfo.HasNextPage ? "disabled" : ""; }

<a asp-action="CrashList" asp-route-pageNum="@(Model.PageInfo.CurrentPage - 1)"
   class="btn btn-primary btn-group pull-right m-1 @prevDisabled">
    Previous
</a>
<p class="btn btn-light btn-group pull-right m-1">Page @Model.PageInfo.CurrentPage</p>
<a asp-action="CrashList"
   asp-route-pageNum="@(Model.PageInfo.CurrentPage + 1)"
   class="btn btn-primary btn-group pull-right m-1 @nextDisabled">
    Next
</a>

<a class="btn btn-success btn-group m-1" style="float:right" asp-area="" asp-controller="Admin" asp-action="Add">Add</a>


@foreach (Crash c in Model.Crashes)
{
<partial name="CrashSummary" model="c" /> //edit & delete
<a class="btn btn-warning btn-sm" asp-area="" asp-controller="Admin" asp-route-id="@c.CRASH_ID" asp-action="Edit">Edit</a>
                <a class="btn btn-danger btn-sm" asp-area="" asp-controller="Admin" asp-route-id="@c.CRASH_ID" asp-action="Delete">Delete</a>
                                <br />}


@*</div>*@
@*<a asp-action="CrashCardsIndex" asp-route-pageNum="1">1</a>*@






